
/*html, div, h1, h2, h3, h4, h5, h6, p, blockquote, a, img, ol, ul, li, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav {
    margin: 0%;
    padding: 0%;
    border: 0;
    font-size: 100%;
    line-height: 1;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}*/

/*Custom CSS*/

@font-face{
	font-family: 'lemonade_font';
	src: url("lemonade_font.ttf");
}

p{
	font-family: 'lemonade_font';
}

h2{
 font-family: lemonade_font ;
}

input{
	font-family: lemonade_font;
}

select{
	font-family: lemonade_font;
}

body {
	background-image: url("../media/imageObligatoire.png");
}

.container{
    display: flex;
}

.navbar h4{
	font-size: 20px;
    margin-left: 14%;
    margin-right: 3%;
	opacity: 100%;
}

.navbar h4:hover{
	background-color: hsla(36, 100%, 50%, 0.1);
}

.navbar{
    display: flex;
    margin-left: 5%;
	margin-right: 5%;
    align-items: center;
	background-color: hsla(36, 100%, 50%, 0.3);
	border-radius: 15px;
	width: 90%;
}

.navbar a{
    color: black;
    text-decoration: none;
}

.navbar img{
	margin-left: 2%;
    width: 5%;
    height: 8.5%;
}

#slider {
	display: block;
	position: relative;
	overflow: hidden;
	min-height: 220px;
	border: 3px solid black;
	box-shadow: 0px 8px 10px 8px grey;
	width: 1500px;
	margin: 5% 17.5% 5% 17.5%;
	background-color: black;
}	

#slider img {
	position: absolute;
	margin: -30% 0 50% -15%;
	width: 1500px;
	height: 220px;
	overflow: hidden;
	object-fit: cover;
}

@keyframes parallax_one {
	0% {
		height: 37.5rem;
		width: 1700px;
		left: 0rem;
		opacity: 1;
	}

	27.77% {
		width: 1700px;
		left: 0rem;
	}
	27.78% {
		width: 1700px;
		left: 0rem;
		right: 50rem;
	}
	33.33% {
		height: 37.5rem;
		width: 0rem;
		left: 0rem;
		right: 0rem;
		opacity: 1;
	}
	33.34% {
		opacity: 0;	
	}
	94.43% {
		left: 0rem;
		opacity: 0;
	}
	94.44% {
		height: 37.5rem;
		width: 0rem;
		left: 50rem;
		opacity: 1;
	}
	100% {
		width: 1700px;
		left: 0rem;
		opacity: 1;		
	}
}

@keyframes parallax_two {
	0% {
		opacity: 0;
	}
	27.77% {
		left: 0rem;
		opacity: 0;
	}
	27.78% {
		width: 0rem;
		height: 37.5rem;
		left: 50rem;
		opacity: 1;
	}
	33.33% {
		width: 1700px;
		left: 0rem;
	}
	61.10%{
		width: 1700px;
		left: 0rem;
	}
	61.11% {
		width: 1700px;
		left: 0rem;
		right: 50rem;
	}
	66.67% {
		width: 0rem;
		right: 0rem;
		left: 0rem;
		height: 37.5rem;
		opacity: 1;
	}
	66.68% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes parallax_three {
	0% {
		opacity: 0;
	}
	61.10%{
		opacity: 0;
	}
	61.11% {
		width: 0rem;
		height: 37.5rem;
		left: 50rem;
		opacity: 1;		
	}
	66.67% {
		width: 1700px;
		left: 0rem;
	}
	94.43% {
		width: 1700px;
		left: 0rem;
	}
	94.44% {
		width: 1700px;
		left: 0rem;
		right: 50rem;
	}
	100% {
		width: 0rem;
		right: 0rem;
		left: 0rem;
		height: 37.5rem;
		opacity: 1;
	}
}

#slider img.one{
	animation-name: parallax_one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 18s;
	object-fit: cover;
}

#slider img.two {
	animation-name: parallax_two;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 18s;
	object-fit: cover;
}

#slider img.three {
	animation-name: parallax_three; /* controls img.three movement */
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 18s;
	object-fit: cover;
}

.articles{
	margin: 5% 5% 5% 15%;
	display: flex;
	flex-direction: column;
	width: 70%;
}

.articles p{
	font-size: 150%;
}

.article1{
	margin: auto;
	display: flex;
	flex-direction: row;
	background-color: hsla(36, 100%, 50%, 0.3);

}

.article1 img {
	margin-left: 10%;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	width: 30%;
	height: 30%;
	border-radius: 2%;
}

.article1 p{
	width: 50%;
	padding-left: 1.5%;
}


.article2{
	margin: auto;
	display: flex;
	flex-direction: row;
	background-color: hsla(36, 100%, 50%, 0.3);

}

.article2 img {
	margin-left: 1.5%;
	margin-bottom: 1.5%;
	margin-top: 1.5%;
	width: 30%;
	height: 30%;
	border-radius: 2%;
}

.article2 p {
	width: 50%;
	padding-left: 1.5%;

}


.map{
	text-align: center;
	margin: 2%;
}

.map p{
	background-color: hsla(36, 100%, 50%, 0.3);
	font-size: 150%;
	margin-left: 30%;
	width: 40%;
}

hr{
	border: 1px black solid;
	margin: 1%;
}

.formulaire{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 5%;

}

.formulaire p{
	background-color: hsla(36, 100%, 50%, 0.3);
	font-size: 150%;
	margin-left: 20%;
	width: 60%;
}

form{
	width: 25%;
	margin-left: 5%;
}

#formImgInput{
	display: flex;
	flex-direction: row;
}

#formImgInput img{
	width: 15%;
	height: 10%;
	margin-left: 20%;
}

form input{
	border-radius: 12%;
}

#boutton{
	margin-top: 20%;
	margin-left: 25%;
}

footer hr{
	margin-right: 5%;
	margin-left: 5%;
}




.footer img{
	width: 5%;
	height: 5%;
	align-items: center;
}

.footer{
	font-size: 18px;
	margin-right: 10em;
	margin-left: 10em;
	justify-items: center;
}

footer .leftfooter{
	color: #70757a;
    text-decoration: none;
}

footer .secondpart{
    display: flex;
}
footer .secondpart ul#menu li{
    display: inline;
}

footer .secondpart ul#menu li{
    padding-right: 2em;
}

footer .secondpart .centerfooter > img{
	width: 30px;
	height: 30px;
	margin-right: 3em;
	transform: translateY(0px);
	transition: 0.5s all;
}

footer .secondpart .centerfooter > img#img2{
	width: 40px;
	height: 40px;
}

footer .secondpart .centerfooter{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-left: 4em;
    margin-right: 40em;
}

footer .secondpart .centerfooter > img:hover{
	width: 30px;
	height: 30px;
	transform: translateY(-20px);
}
footer .secondpart .centerfooter > a {
    color: #70757a;
    text-decoration: none;
}

footer .secondpart .centerfooter > a:hover{
    text-decoration: underline;
}

footer .secondpart .centerfooter > a:active{
    text-decoration: underline;
    text-decoration-color: red;
}

footer .secondpart ul#menu li a{
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

footer .secondpart ul#menu li a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {

	.navbar img {
		width: 20%;
		height: 20%;
	}

	.navbar h4 {
		font-size: 80%;
		margin-left: 5%;
		margin-right: 1.5%;
		opacity: 100%;
	}

	.articles {
		margin: 5%;
		width: 90%;
	}

	.articles p {
		font-size: 100%;
	}

	#carteMap {
		width: 70%;
		margin: 15%;
		height: 20%;
	}


	.map p {
		font-size: 100%;
		width: 50%;
	}

	.formulaire p {
		font-size: 100%;
		width: 90%;
	}

	.footer {
		width: 100%;
	}

	.footer p {
		margin-left: 0%;
		font-size: 80%;
	}

	.leftfooter {
		width: 100%;
		margin-left: 0%;
	}

	.centerfooter {
		margin: 0%;
	}

	.secondpart {
		width: 50%;
		margin-left: 0%;
	}

	#menu {
		display: none;
	}

}
	@media only screen  and (max-width: 1280px) and (min-width: 768px){

		.formulaire{
			width: 40%;
			margin: 2.5%;
		}

		.map{
			width: 40%;
			margin: 2.5%;
		}
		.map p{
			/*font-size: 120%;*/
			width: 100%;
			margin: 0% 0% 2.5%;
		}

		#bloc{
			display: flex;
			flex-direction: row;
		}

		#formImgInput img{
			height: 40%;
			width: 40%;
		}

		.leftfooter {
			margin-left: 70%;
			width: 30%;
		}

	}


