
/*html, div, h1, h2, h3, h4, h5, h6, p, blockquote, a, img, ol, ul, li, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav {
    margin: 0%;
    padding: 0%;
    border: 0;
    font-size: 100%;
    line-height: 1;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}*/

/*Custom CSS*/

*{
	font-family: 'lemonade_font';
	src: url('/Style/lemonade_font.ttf');
	font-size: 18px;
}

body {
    width: 100%;
    height: 100%;
	background: url(/IHM-Lemonade/media/imageObligatoire.jpg);
}

.container{
    display: flex;
}

.navbar h4{
    margin-left: 10em;
    margin-right: 3em;
	opacity: 100%;
}

.navbar h4:hover{
	background-color: hsla(36, 100%, 50%, 0.1);
}

.navbar{
    display: flex;
    margin-left: 5em;
	margin-right: 5em;
    align-items: center;
	background-color: hsla(36, 100%, 50%, 0.3);
	border-radius: 15px;
}

.navbar a{
    color: black;
    text-decoration: none;
}

.navbar img{
	margin-left: 2em;
    width: 5%;
    height: 8.5%;
}

#slider {
	display: block;
	position: relative;
	overflow: hidden;
	min-height: 12rem;
	border: 4px solid black;
	box-shadow: 0px 8px 10px 8px grey;
	width: 1000px;
	margin: 3% 10% 0 17%;
	background-color: black;
}	

#slider img {
	position: absolute;
	width: 1200px;
	height: 12rem;
	overflow: hidden;
	object-fit: cover;
}

@keyframes parallax_one {
	0% {
		height: 37.5rem;
		width: 1700px;
		left: 0rem;
		opacity: 1;
	}

	27.77% {
		width: 1700px;
		left: 0rem;
	}
	27.78% {
		width: 1700px;
		left: 0rem;
		right: 50rem;
	}
	33.33% {
		height: 37.5rem;
		width: 0rem;
		left: 0rem;
		right: 0rem;
		opacity: 1;
	}
	33.34% {
		opacity: 0;	
	}
	94.43% {
		left: 0rem;
		opacity: 0;
	}
	94.44% {
		height: 37.5rem;
		width: 0rem;
		left: 50rem;
		opacity: 1;
	}
	100% {
		width: 1700px;
		left: 0rem;
		opacity: 1;		
	}
}

@keyframes parallax_two {
	0% {
		opacity: 0;
	}
	27.77% {
		left: 0rem;
		opacity: 0;
	}
	27.78% {
		width: 0rem;
		height: 37.5rem;
		left: 50rem;
		opacity: 1;
	}
	33.33% {
		width: 1700px;
		left: 0rem;
	}
	61.10%{
		width: 1700px;
		left: 0rem;
	}
	61.11% {
		width: 1700px;
		left: 0rem;
		right: 50rem;
	}
	66.67% {
		width: 0rem;
		right: 0rem;
		left: 0rem;
		height: 37.5rem;
		opacity: 1;
	}
	66.68% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes parallax_three {
	0% {
		opacity: 0;
	}
	61.10%{
		opacity: 0;
	}
	61.11% {
		width: 0rem;
		height: 37.5rem;
		left: 50rem;
		opacity: 1;		
	}
	66.67% {
		width: 1700px;
		left: 0rem;
	}
	94.43% {
		width: 1700px;
		left: 0rem;
	}
	94.44% {
		width: 1700px;
		left: 0rem;
		right: 50rem;
	}
	100% {
		width: 0rem;
		right: 0rem;
		left: 0rem;
		height: 37.5rem;
		opacity: 1;
	}
}

#slider img.one{
	animation-name: parallax_one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 18s;
	object-fit: cover;
}

#slider img.two {
	animation-name: parallax_two;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 18s;
	object-fit: cover;
}

#slider img.three {
	animation-name: parallax_three; /* controls img.three movement */
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 18s;
	object-fit: cover;
}

.articles{
	margin-top: 4em;
	display: flex;
}

.article1{
	width: 400px;
	height: 400px;
	margin: auto;
	background-color: red;
}

.article2{
	width: 400px;
	height: 400px;
	margin: auto;
	background-color: red;
}

.map{
	text-align: center;
	margin: 2em 2em 2em 2em;
}

footer hr{
	border: 1px black solid;
	margin-right: 5em;
	margin-left: 5em;
}

.footer img{
	width: 30px;
	height: 30px;
	align-items: center;
}

.footer{
	font-size: 13px;
	margin-right: 10em;
	margin-left: 10em;
	justify-items: center;
}

footer .leftfooter{
	color: #70757a;
    text-decoration: none;
}

footer .secondpart{
    display: flex;
}
footer .secondpart ul#menu li{
    display: inline;
}

footer .secondpart ul#menu li{
    padding-right: 2em;
}

footer .secondpart .centerfooter > img{
	width: 22px;
	height: 22px;
	margin-right: 3em;
}

footer .secondpart .centerfooter > img#img2{
	width: 30px;
	height: 33px;
}

footer .secondpart .centerfooter{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-left: 4em;
    margin-right: 28em;
}

footer .secondpart .centerfooter > img:hover{
	width: 30px;
	height: 30px;
    box-shadow: 0 0 5px 0.2px;
}
footer .secondpart .centerfooter > img#img2:hover{
	width: 42px;
	height: 42px;
}
footer .secondpart .centerfooter > a {
    color: #70757a;
    text-decoration: none;
}

footer .secondpart .centerfooter > a:hover{
    text-decoration: underline;
}

footer .secondpart .centerfooter > a:active{
    text-decoration: underline;
    text-decoration-color: red;
}

footer .secondpart ul#menu li a{
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

footer .secondpart ul#menu li a:hover{
    text-decoration: underline;
}
