# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\himiko\Desktop\MEGA\Cours\TP limmonade\Page\IHM-Lemonade\IHM-Lemonade-main\Page\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
